* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid limegreen; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #e87a14;
  color: #fff;
}

header nav {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #000;
}
